.contact {
  border: 1px solid #cacaca;
}
.container {
}
.contact__content {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}
.contact__text {
}
.contact__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.contacnt__desc {
  font-size: 16px;
  line-height: 32px;
}
.contact__form {
}
.form {
}
.contact__imput {
  border: 1px solid #333333;
  border-radius: 100px;
  padding: 9px 43px 9px 24px;
  margin: 0 20px 0 0;
}
.form__btn {
  background: none;
  color: #9d5cd0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  padding: 12.5px 36px;
}
.contact__list {
  display: flex;
  flex-direction: column;
}
.contact__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.contact__icon {
}
.whatsapp {
}
.telegram {
}
