.event {
  padding: 80px 0;
}
.event__content {
}
.event__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin: 0 0 16px 0;
}
.event__row {
  display: flex;
  justify-content: space-between;
}
.event__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  height: 700px;
  border: 1px solid #cacaca;
}
.event__text {
  padding: 0 50px;
}
.event__img {
}
.event__subtitle {
  margin: 13px 0;
  max-width: 145px;
  color: #999999;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.event__headline {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0 0 10px 0;
}
.event__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.event__btn {
  max-width: 92px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9d5cd0;
  background: none;
  border: none;
  border-bottom: 1px solid #9d5cd0;
  margin: 0 0 48px 50px;
  padding: 0;
}
