.project {
  padding: 0 0 80px 0;
  border-bottom: 1px solid #cacaca;
}
.project__content {
}
.project__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin: 0 0 16px 0;
}
.project__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1080px;
  width: 100%;
}
.project__link {
}
.project__partner {
}
.partner {
}
.partner__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 30px 0 23px 0;
}
.partner__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.partner__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  width: 450px;
  height: 150px;
}
.partner__link {
}
.partner__img {
}
